body {
    background-color: #eeeeee;
}

hr {
    border-style: none none;
    border-top-style: dotted;
    border-color: #393e46;
    border-width: 5px;
    width: 5%;
}

h1 {
    color: #00adb5;
}

h2 {
    color: #00adb5;
}

h3 {
    color: #00adb5;
}

img {
    max-width: 250px;
    height: auto;
}

/* p {
    color: #222831;
} */